branches:
    except:
        - gh-pages
language: perl6
sudo: false
perl6:
    - - '2017.08'
install:
    - rakudobrew build-zef
    - zef install Test::META
    - zef install Path::Iterator
    - zef install --serial HTTP::Server::Ogre
    - zef install --serial Bailador::Test
env:
    - AUTHOR_TESTING=1
