branches:
    except:
        - gh-pages
language: perl6
sudo: false
perl6:
    - '2018.04'
env:
   - AUTHOR_TESTING=1
install:
   - rakudobrew build zef
   - zef install Test::META
   - zef install Path::Iterator
   - zef install --depsonly --/test .

